* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text-yellow: #f8bf15;
    --font-primary: "Fira Sans", sans-serif;
    --color-primary: #fff;
}

body {
    background-color: #0d5c8c;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}


/* Rede Gil -------- */

.rede-gil {
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.rede-gil-container {
    background: linear-gradient(to bottom,
            #5aa6d6 0%,
            #3b85b3 45%,
            #2f6f9a 100%);

    box-shadow:
        inset 0 3px 6px rgba(255, 255, 255, 0.35),
        inset 0 -3px 6px rgba(0, 0, 0, 0.25);


    max-width: 250px;
    height: 60px;
    width: 100%;
    border-radius: 1rem;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

.text-rede-gil {
    padding-left: 10px;
    font-size: 2.5rem;
    color: var(--text-yellow);
    font-family: Impact, Arial, sans-serif;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, .8);
    white-space: nowrap;
}

.selo-50y {
    margin-top: 40px;
    height: 100px;
}


/* Texto chamativa -------- */

.text-new-client {
    padding: 70px 20px 20px;
    display: flex;
    justify-content: center;
}

.text-new-client-container {
    text-align: center;
}

.text-new-client p {
    color: var(--color-primary);
    font-family: var(--font-primary);
    font-weight: 700;
    font-size: 1rem;
    text-align: center;
}

.highlight {
    color: var(--text-yellow);
    font-weight: 700;
}

.divider {
    display: block;
    width: 100%;
    max-width: 380px;
    height: 1px;
    background-color: #ffffff;
    margin: 20px auto 0;
}

/* Logo BMW -------- */

.logo-bmw {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.logo-bmw img {
    height: 5.2rem;
    width: 80px;
}

.logo-bmw h1 {
    color: var(--color-primary);
    font-family: var(--font-primary);
    margin-top: 10px;
    font-size: 1.5rem;
}

/* Texto melhores preços -------- */

.text-best-price {
    display: flex;
    text-align: center;
    flex-direction: column;
    margin: 2rem;
}

.text-best-price p {
    color: var(--color-primary);
    font-family: var(--font-primary);
    padding-bottom: 1rem;
    white-space: nowrap;
    font-size: 0.7rem;
}

.highlight-best-price {
    color: var(--text-yellow);
    font-style: italic;
    font-weight: 700;
    font-size: 1rem;
}

.line-highlight {
    font-size: 1rem;
    white-space: nowrap;
}


/* Textos com check -------- */
.info-check {
    display: grid;
    row-gap: 60px;
    padding: 10px;
    max-width: 300px;
    margin: 0 auto;
}

.items-check {
    display: grid;
    grid-template-columns: 30px 1fr;
    align-items: start;
}

.items-check img {
    width: 25px;
    height: 30px;
}

.items-check p {
    color: var(--color-primary);
    font-family: var(--font-primary);
    font-size: 10px;
    padding: 4px 0px 0px 10px;
}

/* Contatos -------- */
.contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    gap: 15px;
}

.contacts h1 {
    color: var(--text-yellow);
    font-family: var(--font-primary);
    font-size: 1rem;
}

.contacts p {
    color: var(--color-primary);
    font-family: var(--font-primary);
    font-size: 0.8rem;

}

.contacts-line {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;

    transition: transform 0.2s ease;
}

.contacts-line img {
    width: 20px;
    height: 20px;
}

.contacts-line:hover {
    transform: translateY(-2px);
}

/* Formas de pagamento -------- */

.payment-methods {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.payment-methods h1 {
    color: var(--text-yellow);
    font-family: var(--font-primary);
    font-size: 1rem;
    margin-top: 30px;
}

.payment-icons {
    display: flex;
    align-items: center;
    margin-top: 12px;
}

.payment-icons img {
    max-height: 32px;
    width: auto;
    margin-right: 4px;
}


/* Formulario -------- */

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 60px;
}

.contact-form {
    background-color: #9dc1d05f;
    padding: 15px;
    border-radius: 12px;
    width: 100%;
    max-width: 350px;

}

.form-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.form-container h1 {
    color: var(--text-yellow);
    font-family: var(--font-primary);
    font-size: 0.9rem;
    text-align: center;
    margin: 20px;
}

label {
    color: var(--color-primary);
    font-weight: bold;
    margin-bottom: 6px;
    font-family: var(--font-primary);
    font-size: 0.8rem;
}

input {
    padding: 5px;
    border: none;
    font-size: 16px;
}

textarea {
    border: none;
    resize: none;
    min-height: 60px;
    overflow-y: auto;

}

input:focus,
textarea:focus {
    outline: 3px solid var(--text-yellow);
}

.btn-submit {
    width: 100%;
    padding: 12px;
    background-color: var(--text-yellow);
    color: var(--color-primary);
    border: none;
    border-radius: 4px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s ease;
}

.btn-submit:hover {
    opacity: 0.9;
}

.btn-submit:focus {
    outline: 3px solid #000;
}

/* Rodapé -------- */

.footer-container {
    display: flex;
    flex-direction: column;
    background-color: var(--text-yellow);
    margin-top: 80px;
    padding: 20px 40px;
    width: 100%;
}

.clock-box {
    display: flex;
    margin: 10px;
}

.clock-box h2 {
    font-family: var(--font-primary);
    color: #083753;
    font-weight: 700;
    font-style: italic;
    padding: 5px 0px 0px 10px;
}

.footer-list li {
    color: #083753;
    font-family: var(--font-primary);
    font-weight: 500;
}

/* Responsividade Mobile ->> Desktop -------- */
@media (min-width: 768px) {

    .wallpaper {
        position: absolute;
        width: 100%;
        height: 910px;

        background-image: linear-gradient(to right,
                rgba(7, 28, 44, 0.95) 35%,
                rgba(7, 28, 44, 0.6) 55%,
                rgba(7, 28, 44, 0.2) 75%), url("images/background-desktop.png");
        background-repeat: no-repeat;
        background-position: top center;
        background-size: cover;

        clip-path: ellipse(100% 85% at 50% 0%);

        z-index: 0;
    }

    .sides {
        position: relative;
        display: grid;
        grid-template-columns: 1.1fr 0.9fr;
        gap: 60px;
        margin: 0 auto;
        align-items: center;
        width: 100%;
        z-index: 1;
    }

    .rede-gil {
        position: relative;
        z-index: 2;
    }

    .info-check {
        row-gap: 40px;
        font-size: 18px;
    }

    .contacts {
        margin-top: 100px;
    }

    .form-container {
        margin: 300px 40px 0px 0px;
    }

    .text-new-client {
        display: none;
    }
}


@media (min-width: 1280px) {

    /*Plano de fundo */
    .wallpaper {
        position: absolute;
        width: 100%;
        height: 910px;

        background-image: linear-gradient(to right,
                rgba(7, 28, 44, 0.95) 35%,
                rgba(7, 28, 44, 0.6) 55%,
                rgba(7, 28, 44, 0.2) 75%), url("images/background-desktop.png");
        background-repeat: no-repeat;
        background-position: top center;
        background-size: contain;

        clip-path: ellipse(100% 85% at 50% 0%);
        z-index: 0;
    }

    .sides {
        position: relative;
        display: grid;
        grid-template-columns: 1.1fr 0.9fr;
        gap: 60px;
        margin: 0 auto;
        align-items: center;
        width: 100%;
        z-index: 1;
    }

    .rede-gil {
        position: relative;
        z-index: 2;
    }

    .info-check {
        row-gap: 40px;
        font-size: 18px;
    }

    .contacts {
        margin-top: 100px;
    }

    .form-container {
        margin-top: 300px;
    }

    .text-new-client {
        display: none;
    }
}